<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bpAp/base.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Blog</h1>
        <nav>
            <ul>
            <a href="/">Home</a></li>
            <a href="{% url 'topic_list' %}">Topics</a>
            <a href="{% url 'post-list' %}">Posts</a>
            <a href="{% url 'photo_contest' %}">Photo Contest</a>
            <a href="#">Contact</a>
        </ul>
        </nav>
    </header>
    <main>
        <section>
            {% block content %}{% endblock %}
        </section>
        <aside>
            {% block sidebar %}{% endblock %}
        </aside>
    </main>
    <footer>
        <p>© 2024 My Blog</p>
    </footer>
</body>
</html>
