{% extends "bpAp/base.html" %}
{% block content %}
<h1>Posts in "{{ topic.name }}"</h1>
<ul>
    {% for post in posts %}
    <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> - {{ post.published|date:"F d, Y" }}
    </li>
    {% empty %}
    <p>No posts found for this topic.</p>
    {% endfor %}
</ul>
<p>Related Topics:</p>
<ul>
    {% for topic in post.topics.all %}
    <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
